.header-wrapper {
	background-color: $color__blue-primary;
}

.site-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0;
}

.main-navigation {
	display: flex;
	ul {
		li {
			margin-right: 50px;
			&:last-child {
				margin: 0;
			}

			a {
				color: $color__text-white;
				text-transform: lowercase;
			}
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
